[2017-04-03 20:23] hsingh23 opened #1 "No default styles"
Could you please include some default styles - like the ones you use in your example

[2017-04-03 20:24] bsidelinger912 commented on #1
Hello @hsingh23, I'd be happy to look into this.  I'll keep you posted on progress.

[2017-06-29 07:20] bsidelinger912 commented on #1
Ok @hsingh23, I've finally gotten around to this.  I created a new prop called "useDefaultStyles" which will style the tooltip with .js.  I also updated the docs to explain a bit better how to do it with css and created a codepen demo.  Let me know when you get a chance to try it out.

[2017-06-29 18:59] hsingh23 commented on #1
I'm on vacation. Will be back in 1 week

On Jun 29, 2017 3:20 AM, "Ben Sidelinger" <notifications@github.com> wrote:

[2017-07-01 01:37] bsidelinger912 commented on #1
Cool, have fun!

[2017-08-21 11:03] blixtgord opened #3 "Prop-types warning"
Portal.jsx should import the prop-types package.

[2017-09-01 05:05] bsidelinger912 commented on #1
Closing this now as I believe I've resolved the original issue.

[2017-09-01 05:05] #1 closed

[2017-09-01 05:05] bsidelinger912 commented on #3
Yes, absolutely, I've been meaning to do this and will handle right away.

[2017-09-01 05:29] bsidelinger912 commented on #3
Ok, this is fixed in this release: https://github.com/bsidelinger912/react-tooltip-lite/releases/tag/v1.2.1.

[2017-09-01 07:08] #3 closed

[2017-09-01 07:08] blixtgord commented on #3
Thank you!

[2017-10-20 22:50] bsidelinger912 opened #5 "Support for react 16"
Need to update peerDependancies for React 16 support

[2018-02-20 18:31] artemjackson opened #6 "Use react-minimalist-portal instead of custom Portal implementation"
UPD: PR is here https://github.com/bsidelinger912/react-tooltip-lite/pull/7
___

First, thanks for the nice library.

Second, I have an issue with React context and the library. Because of custom Portal implementation, React context is missing during rendering outside of react root. (see the issue for details https://github.com/facebook/react/issues/8262.)

I would suggest you to use https://www.n

[2018-02-26 05:32] #6 closed

[2018-02-26 06:10] bsidelinger912 commented on #5
Closed with v1.3.0

[2018-02-26 06:10] #5 closed

[2018-04-03 02:55] oyeanuj opened #8 "Controlled Tooltips"
Hi @bsidelinger912, thank you for putting it out there! I am wondering if it would be possible to make the tooltip controllable with a prop?

For example, in a form, when there is an error, I would like a tooltip to pop open.

Thoughts?

[2018-04-06 22:32] bsidelinger912 commented on #8
Hi @oyeanuj, this totally makes sense.  How about a prop like "isOpen" that just takes a boolean?  I imagine it'd override any of the event handlers, so if it was true or false, that would force the tip open/closed and if it was undefined it'd behave as it does now.  Sound good?

[2018-04-08 04:35] oyeanuj commented on #8
@bsidelinger912 Yes, that sounds good - kind of how I was imagining it! :)

[2018-04-18 05:28] bsidelinger912 commented on #8
Ok @oyeanuj I just released v1.4.0, with the new "isOpen" prop.

[2018-04-20 17:57] oyeanuj commented on #8
@bsidelinger912 Thanks, will try it out!

[2018-04-20 17:57] #8 closed

[2018-06-24 04:38] oyeanuj opened #11 "Tooltip disappears when moving mouse from trigger element to tooltip"
Hi @bsidelinger912 , apologies if this has already been asked or answered (couldn't find it anywhere) - how do I ensure that when on hover, I trigger the tooltip, I can move from the triggering element to the tooltip without the tooltip disappearing?

You can see this in action in the examples where it is impossible to hover over the tooltips or select something there - it disappears as soon as th

[2018-06-24 19:28] bsidelinger912 commented on #11
Hey @oyeanuj this was a missing feature and I could think of a lot of relevant use cases.  So I just made an update to add a new "tipContentHover" prop which takes a boolean.  Passing "true" to that prop will give the effect you need.  This is available as of version 1.5.0.  Let me know how it works for you!

[2018-07-05 23:01] bsidelinger912 commented on #11
Closing as this is resolved with: https://github.com/bsidelinger912/react-tooltip-lite/pull/12

[2018-07-05 23:01] #11 closed

[2018-09-04 22:34] luisbooth7 opened #17 "eventToggle = 'onClick' unwanted behavior on React 16+"
Using eventToggle = 'onClick' does work when toggling the tooltip on and off, but clicking anywhere inside the tooltip will toggle the tooltip off when using React 16+. I tried with React 15 and it worked great.

[2018-09-05 12:54] luisbooth7 commented on #17
You can replicate the issue here [https://codepen.io/anon/pen/oPwyEE](url).

[2018-09-05 21:48] bsidelinger912 commented on #17
Hey @luisbooth7 Thanks for the codepen, that helps a lot.  I'll look at this over the weekend.

[2018-09-10 16:58] luisbooth7 opened #18 "Distance prop not working on arrow."
I noticed an unwanted behavior when using the `distance` prop, in which the distance prop will work for adding space from the target to the tooltip container but the arrow doesn't get affected by this. Here's an example.

<img width="403" alt="screen shot 2018-09-10 at 10 54 55 am" src="https://user-images.githubusercontent.com/20545599/45312094-671a7680-b4e8-11e8-91aa-bba2f3134dee.png">

[2018-09-14 04:06] bsidelinger912 commented on #17
This is resolved with v1.7.1.

[2018-09-14 04:06] #17 closed

[2018-09-14 04:06] bsidelinger912 commented on #18
This is resolved with v1.7.1.

[2018-09-14 04:06] #18 closed

[2018-09-26 11:55] ephraimt-welldone opened #23 "arrowSize should be a prop"
Thanks for the great component!

It would be wonderful if arrowSize could be configurable as a prop.

[2018-09-26 16:41] bsidelinger912 commented on #23
Hi @ephraimt-welldone, I agree this would be nice.  I actually started doing it with my last major change but it became a little harder to do than I though and got me thinking about a 2.0 version with simpler css styling.  I took it out of that branch but will work on it in another branch when I can.

[2018-12-05 07:15] crudh opened #24 "Close on click outside the tooltip"
Thanks for the great library. We are using it more and more but there is one thing we would like to do:

Trigger the tooltip with a click on a button (uncontrolled) and then closing the tooltip by clicking anywhere outside of the tooltip.

I couldn't achieve it with the current API at least. Anything you think is worth adding?

[2018-12-13 16:58] davizp opened #25 "Scroll at the end of the page on Firefox"
Hi @bsidelinger912 , thanks for this component it is really helpful.

**Description:** The tooltip content is taking up space at the end of the body when it shouldn't.

**URL:** https://codepen.io/bsidelinger912/pen/WOdPNK

**User Agent:** "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:64.0) Gecko/20100101 Firefox/64.0"

**Image:**
<img width="1349" alt="screen shot 2018-12-13 at 10 31 06 am" s

[2018-12-14 05:36] bsidelinger912 commented on #24
Hey guys, this was pretty easy to implement with the existing API by using a fully controlled tooltip, via the "isOpen" prop.  I've updated my example here: https://codepen.io/bsidelinger912/pen/WOdPNK with a click handler on the document that makes a state change to flow a new value for the "isOpen" prop.  You can see the full example at the bottom of that pen.

The handler and the function it ca

[2018-12-17 09:11] crudh commented on #24
@bsidelinger912 thanks, seems to work good! I'll test it out some more. Closing this then.

[2018-12-17 09:11] #24 closed

[2018-12-21 02:50] bsidelinger912 commented on #23
Ok, @ephraimt-welldone I've added an arrowSize prop in v 1.8.0, you pass a number for the pixel value.  Hopefully this works well for you!

[2018-12-27 21:54] MartijnHols opened #31 "Only render the tooltip DOM when it's active"
Making the lightweight tooltips even more lightweight 😅

Currently the tooltip is rendered in its portal regardless of it being active or not. Adding elements to the DOM comes with a cost. While it won't be a major part of any page's performance, considering web performance is usually death by a thousand cuts, this adds as many cuts as tooltips you have on a page - which may be many.

I'm making t

[2019-01-03 21:41] bsidelinger912 commented on #31
Hey @MartijnHols, this is something I've thought about before.  I was weighing the cost of adding and removing the element from the DOM every time you show or hide the tip, vs the initial render being more expensive.  I can see how the cost of initial render could add up with a lot of tooltips on a page for sure.  I wonder about the specific cost of adding and removing an element vs changing inlin

[2019-01-20 08:30] luzushka opened #32 "Force tooltip direction regardless of whether space is sufficient"
Hello and thanks for your amazing work!

Is it possible to add an option / prop that disables the automatic behavior which determines the tooltip direction based on remaining space?

Thanks in advance!

[2019-02-01 05:22] bsidelinger912 opened #34 "A11y updates"
Add aria-describedby to target element and role=tooltip and aria-hiden (when not showing) to tooltip contents for better accessibility.

[2019-02-05 16:10] luzushka commented on #32
@bsidelinger912 Thank you very much! Works great :)

[2019-03-07 07:05] batcer opened #35 "Tooltip blinking when target has children nodes"
The target button has the following HTML:
[code]
where `icon` has a background image with an icon. Icon div is smaller that the button itself.
When pointer passes over the button into the icon, tooltip dissappears. After pointer is moved a little bit again over the icon, tooltip appears again.

[2019-03-12 11:52] samjross opened #36 "onClick doesn't work as expected"
I have an element which looks like this:

[code]

When I click the 'button' that the tooltip element outputs, it does not do `this.check()`. When I write it like the below way, it works:

[code]

[2019-03-13 18:26] ulvido opened #37 "Unsafe lifecycle methods were found within a strict-mode tree"
![2019-03-13 21-20-31 ekran görüntüsü](https://user-images.githubusercontent.com/27722274/54304333-f870bf80-45d5-11e9-9921-3ee77f3e2cd5.png)

I use react with strict mode and tooltip gives me this error on hover. any ideas?

[code]

[2019-03-13 22:07] bsidelinger912 commented on #37
Hey @ulvido it looks like this is coming from react-minimalist-portal, hopefully it's as simple as updating that, though we can probably get away with updating our peer-dependency on react to 16+ and just use native portals at this point too.  We'll get this addressed before react 17 comes out.

[2019-03-13 22:08] bsidelinger912 commented on #36
Hey @samjross onClick is not a supported prop on the Tooltip, all the supported props are documented in the README

[2019-03-13 22:10] bsidelinger912 commented on #35
Hey @batcer this is interesting, I think I know why, but will need to tinker a bit more to confirm.  Will address this ASAP

[2019-03-13 22:10] #32 closed

[2019-03-14 11:42] samjross commented on #36
Hiya, thank you for the response. In that case make this a feature request

Having thought about it a bit more though... maybe it's completely unnecessary, as you could always just use the Tooltip to output a span, and wrap it in some element you want to click... I'm not so sure anymore.

[2019-03-14 18:46] fmaiabatista opened #38 "How can I have the tooltip to automatically resize and reposition to new content?"
Hi, I'm using the package to show error tooltips for users in a form being controlled by redux-forms. The problem I'm having is that when my error message changes as the user is typing the input, the tooltip doesn't resize nor reposition itself to match the new message's content.

My case:
![image](https://user-images.githubusercontent.com/1574224/54383079-096e0f00-4670-11e9-8aa0-74f8321340f4.png)

[2019-03-23 18:57] bsidelinger912 commented on #38
Hi @fmaiabatista, this is an interesting new use case.  I'm excited to see what you've done with it, this is the type of flexibility I was really hoping react-tooltip-lite would have.  Basically I think we just need to re-run all the calculations when the tooltip contents change.  I haven't run into a situation where the contents where this dynamic while the tooltip was open.  I don't think this w

[2019-03-23 19:01] bsidelinger912 commented on #36
Yeah, I'm trying to get away from the component being a proxy for all jsx functionality.  Ideally it wouldn't even insert a DOM node at all, what would be required for that is for fragments to handling events that bubbled up from real DOM nodes.  I'm actually working on adding that functionality in a fork of React currently, as the maintainers do seem open to it: https://github.com/facebook/react/

[2019-03-27 16:57] gjabelAmbitas opened #39 "ContentView"
I there some way to have some box where react-tooltip-lite can be shown?

If not this will be pretty nice feature.

Example:
I have box with size 200 & 300, inside box i have button with react-tooltip-lite

So if i hover over or click on the button, react-tooltip-lite will just show inside "box" & not outside (respect box dimensions for showing tooltip only inside box).

Thanks.

[2019-03-28 10:21] thomas-kahn opened #40 "Box-shadow on the tooltip element"
Many tooltips are designed with a box-shadow. Providing markup and a CSS configuration to be able to add a box shadow would be nice!

I have attached the tooltip I'm working on right now.

![tooltip](https://user-images.githubusercontent.com/7136350/55150009-8490f400-514b-11e9-8287-e6135214e628.png)

[2019-04-02 12:27] easga commented on #38
one of the cases which i assume could be common is when the button is a toggle. the button toggles between two different tooltips and the width is kept for the initial content.

[2019-04-08 14:42] fmaiabatista commented on #38
Hey @bsidelinger912 , I ended up using CSS to accomplish this. Here are the styles:

![image](https://user-images.githubusercontent.com/1574224/55732426-55ec0680-59f2-11e9-91b9-e2acb5ce94cf.png)

This gave me the following desired effect:

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/1574224/55732986-5f29a300-59f3-11e9-987a-d203c32096fa.gif)

Hope this helps!

[2019-04-26 09:28] FIIFE commented on #35
Similar issue here, but in my case the target element is a button and it seems to cause an additional problem. Only the icon inside it triggers the tooltip.

`<Tooltip content='cant delete because'>
<button disabled><FontAwesomeIcon icon='trash-alt' /></button>
</Tooltip>`

[2019-04-29 04:42] bsidelinger912 commented on #39
Hi @gjabelAmbitas there's no feature like this currently.  You could use an iframe to get this effect, as the tooltip will respect it's surrounding window.  I'm a little unsure of why exactly you'd want this, can you elaborate more about the user experience you're going for?

[2019-04-29 04:53] bsidelinger912 commented on #40
Hey @thomas-kahn, for newer browsers I believe this can be done for the css triangle with `filter: drop-shadow()`, I'll try and play around with an example.

[2019-04-29 04:54] bsidelinger912 commented on #36
Closing as I don't intend to be have the tooltip be a passthrough for events and other jsx props as described above.

[2019-04-29 04:54] #36 closed

[2019-04-29 08:22] thomas-kahn commented on #40
That would be great!
I did some experimenting myself, but ran into trouble since my solution wasn't compatible with the dynamic positioning of the arrow.

[2019-05-15 06:09] juro41 opened #42 "delay"

[2019-05-15 06:10] #42 closed

[2019-05-16 02:48] #31 closed

[2019-05-16 02:48] #25 closed

[2019-05-16 04:15] bsidelinger912 commented on #35
@batcer and @FIIFE this issue should be fixed now with v1.9.2

[2019-05-16 04:16] bsidelinger912 commented on #37
@ulvido this is fixed with v1.9.2

[2019-05-16 04:16] #37 closed

[2019-05-17 18:57] SeeThruHead opened #44 "Breaking change 1.9.2"
Breaking change was introduced in 1.9.2. Looks to me like the dist files shipped in 1.9.2 are not compiled for browsers. Probably due to changing of babel settings in the previous commit.

error for reference

[code]

[2019-05-18 22:19] bsidelinger912 commented on #44
Thanks @SeeThruHead this should be fixed with v1.9.3.

[2019-05-25 22:05] bsidelinger912 commented on #35
Closing this now as I believe it's been fixed.

[2019-05-25 22:05] #35 closed

[2019-06-04 09:45] FIIFE opened #46 "Tooltip disappears only after you hover mouse over it and then leave it"
I have a list of buttons of the following structure:
`<Tooltip content='Cannot delete because' hoverDelay={50}>
        <button disabled className='someButton'><FontAwesomeIcon icon='trash-alt' /></button>
</Tooltip>`

When i hover over the buttons the tooltip appears but it doesn't disappear until i hover over the tooltip itself and then leave its area with a cursor. There can be multiple tooltip

[2019-06-07 01:18] Meeinotl opened #47 "No License"
I noticed that despite being listed as available under an MIT license on its npm page (https://www.npmjs.com/package/react-tooltip-lite) there is no license file in the repository. I would like to use this library in a commercial project but I can only do so if everything is in order legally.

Would you please add a license file? Or if you prefer I can make a pull request to add it. I just need to

[2019-06-07 05:48] bsidelinger912 commented on #47
Hey @Meeinotl I've added the MIT license it should show up no in v1.9.4

[2019-06-07 06:11] bsidelinger912 commented on #46
Hi @FIIFE, this is caused by https://github.com/facebook/react/issues/4251, which seems to be a browser issue at it's core.  I'll try and find a workaround.

[2019-06-07 06:12] #44 closed

[2019-06-13 08:14] RokasAniss opened #49 "Delay for eventOn"

[2019-06-13 18:03] Meeinotl commented on #47
Thank you @bsidelinger912 for adding this so quickly.

[2019-06-13 18:03] #47 closed

[2019-06-15 05:03] bsidelinger912 commented on #49
Hi @RokasAniss I'm guessing you want to put a delay for a custom eventOn event.  One primary use case for this feature is a click, it definitely wouldn't make sense to delay on click, can you describe what event your using and why you'd want a delay?

[2019-06-15 05:07] bsidelinger912 commented on #46
Hi @FIIFE, I tinkered with this a bit and it was pretty easy to fix, with the same workaround described in the react issue I linked which was to use `pointer-events: none` In your case this had to be applied to disabled buttons like so:
[code]
Doing this lets the event bubble up to the wrapper element instead of having the disabled button swallow it as is the standard behavior in several browsers.

[2019-06-15 05:08] bsidelinger912 commented on #39
Closing because as far as I can tell this is not something we'll want to do.

[2019-06-15 05:08] #39 closed

[2019-06-17 06:40] RokasAniss commented on #49
Hey @bsidelinger912 thanks for the response. I am using onFocus custom event to trigger the tooltip, in my use case there is a list of image thumbnails which I can be tabbed through and I need the tooltip not to appear instantly. I just thought it would be awesome to have a built in delay for any trigger event not just on hover, which would make this simple but awesome tooltip plugin even more awe

[2019-06-28 13:34] denisdimitrov commented on #40
I tried passing custom class name with `filter: drop-shadow()` via the prop `tipContentClassName` But the layout breaks and the tooltip shows at the bottom of the screen. Could you provide a working sandbox if that's possible?

[2019-06-28 17:14] bsidelinger912 commented on #40
Hey @thomas-kahn and @denisdimitrov I haven't really played around much with this yet.  I'm kind of thinking the css arrow trick is a bit out dated and maybe I should just use and SVG for the arrow.  This would be a breaking change, but I'm planning a major version so I could do it with that.  I have a bit of a decision to make in the overall direction of the library (try to add events to fragment

[2019-06-28 22:45] tkahn commented on #40
We solved the problem for now by changing the design, but I think that adding shadow to the tooltip would be an appreciated feature in the long run. Yes - flat and plain designs are still predominant and the design I was implementing is no exception. But when it comes to modals and tooltips, designers often want to accentuate the feeling that it’s something that floats on top of the rest of the pa

[2019-07-01 09:46] denisdimitrov commented on #40
I got it running by using both `tipContentClassName` and overridering the following styles:
[code]

Thanks!

[2019-07-03 14:57] sangbpark94 opened #51 "Arrow size not sizing correctly"
After you set `arrowSize` to a smaller size, the arrow for direction up looks right, but the arrows for direction left, right and down don't look right.

[2019-07-08 02:32] bsidelinger912 commented on #51
Hey @sangbpark94 I'm not able to reproduce your issue, a smaller arrow size works fine for all directions in my dev environment:
<img width="815" alt="Screen Shot 2019-07-07 at 7 28 46 PM" src="https://user-images.githubusercontent.com/1426212/60778915-af48fc00-a0ed-11e9-90c0-7e176abd9088.png">
Can you give me some detailed reproduction steps?  An easy way to show the issue would be to fork this p

[2019-07-08 08:40] mobyIsMe opened #52 "what am I missing?"
![image](https://user-images.githubusercontent.com/9191594/60795911-18d51300-a19f-11e9-9f4a-b541c376830e.png)

[2019-07-08 18:41] bsidelinger912 commented on #52
Hey @mobyIsMe usually you'd use an import to get it like so: `import Tooltip from 'react-tooltip-lite';` Beyond that there's not much I can do to help without seeing how you're consuming it.

[2019-07-09 02:36] mobyIsMe commented on #52
the whole page is this:
![image](https://user-images.githubusercontent.com/9191594/60855126-21782880-a235-11e9-8456-678f93b45856.png)
in Project, I import like this:
![image](https://user-images.githubusercontent.com/9191594/60855142-2f2dae00-a235-11e9-9415-42a3f137335b.png)
and use it like this:
![image](https://user-images.githubusercontent.com/9191594/60855168-45d40500-a235-11e9-98c1-4ad3b2f741

[2019-07-13 16:40] bsidelinger912 commented on #52
Looks like your editor is telling you that it's not properly installed with npm/yarn.  That's usually what the red underline on the import statement will say when you hover over it.

[2019-08-26 20:11] yasintz opened #56 "How to tell whether the tooltip is open in the code."
Hi @bsidelinger912. I sent [pr](https://github.com/bsidelinger912/react-tooltip-lite/pull/55) for the code. Can you help me see if it's turned on without interfering with the ToolTip's operation. I don't want to use "isOpen". I think we can do this in a simpler way.

https://github.com/bsidelinger912/react-tooltip-lite/pull/55

[2019-09-13 12:39] crobinson42 commented on #56
I would vote for having the `content` prop accept a function, ie:

[code]

[2019-09-13 12:52] crobinson42 opened #58 "Tooltip persists in fixed position on mobile screen when inside "fixed" container"
When the Tooltip is inside an element with css `position: fixed`, and on a mobile device, if the user taps the tooltip it will appear as expected. When the user scrolls inside the element with css `overflow: auto|scroll` the Tooltip will stay in a fixed position on the viewport.

I forked the example codepen and wrapped in a fixed container element to demonstrate. I tested this on iOS Chrome and S

[2019-09-16 00:25] scf4 opened #59 "Tooltips don't disappear on mobile when scrolling"
If I accidentally trigger tooltips while scrolling on mobile, they don't disappear when you tap outside of them, as expected.

Any ideas for how to solve this? The hover delay is ignored on mobile, so they're really easy to trigger.

[2019-09-28 23:58] crobinson42 opened #61 "z-index and html positioning causes tooltip to show behind bootstrap modal"
When using a tooltip in a component that's inside a bootstrap4 modal, the tooltip cannot be seen.

A quick look at the DOM reveals the tooltip is being appended inside the `<body>` which is the primary reason for not showing in the modal situation.

**Recommendation** (let's discuss) to refactor the tooltip to append immediately after it's children/child component. I understand there might be some

[2019-09-28 23:59] crobinson42 commented on #59
@scf4 is this at all related to #58 ? Have you checked if there are any parent container elements that have position `absolute` or `fixed`?

[2019-09-29 03:46] scf4 commented on #59
Can’t check right now but I think it’s unrelated. No parent containers have position set!

[2019-10-03 09:21] snowinmars commented on #59
For sure: position of the `body` element is absolute.
The code: https://stackblitz.com/edit/react-2dsnov
Click 'share' > 'app url' and open it. You should see something like [this](https://yadi.sk/i/fuaxzhgzKOc1-Q)

What is the best way to fix this issue?

[2019-10-04 16:01] bsidelinger912 commented on #56
Hey guys, I've been away for a couple weeks on my honeymoon and am just getting back to this stuff.  I'll be thinking more about this this weekend, thanks for your patience.

[2019-10-04 16:04] bsidelinger912 commented on #61
Actually rendering along side the component actually can cause many more issues with layout and z-index for other use cases, and would likely result in major regressions.  However, we def want this to work inside a bootstrap modal.  What would really help is a repro in a codepen (or similar shareable repro). I can set that up when I have time, but if you'd like to in the meantime, that'll allow me

[2019-10-04 16:04] bsidelinger912 commented on #59
Hey guys, I've been away for a couple weeks on my honeymoon and am just getting back to this stuff.  I'll be thinking more about this this weekend, thanks for your patience.

[2019-10-04 16:05] bsidelinger912 commented on #58
Thanks for the pen @crobinson42! I'll dig in further this weekend.

[2019-10-04 16:44] crobinson42 commented on #58
Thanks and please let me know if I can help this is a big issue for my app right now.

Sent from my iPhone

[2019-10-04 16:45] crobinson42 commented on #59
Congrats!! 🍾🎉

[2019-10-07 19:25] MukiA commented on #59
Congratulations! I'm also having issues with this, both on mobile and computer but especially on mobile  where the tooltips are triggered on tap-scrolling and refuse to go away when you scoll past them. Multiple tooltips can also be active at the same time on mobile and refuse to go away unless you click on them. In some cases a tap to disable the tooltip actually triggers the tooltip to appear on

[2019-10-11 23:50] crobinson42 commented on #61
Ok - the solution for me when using bootstrap 4 is to use the same z-index as the bootstrap framework: https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss#L708

z-index on the classes for `react-tooltip-lite` need to be set to 1070.

[2019-10-31 10:00] #46 closed

[2019-11-02 03:27] crobinson42 commented on #61
[code]

[2019-11-07 10:48] maeligg opened #63 "Circular dependency"
I'm using the latest stable version of react-tooltip-lite, 1.10.0.
When I build my packages for production I get the following warning :

It seems to be handled gracefully by npm but maybe worth looking at ?

[2019-11-12 19:52] Gregjarvez opened #64 "Catch scroll event regardless of where it is dispatched ?"
Hello, thanks for this awesome tooltip package.

I am currently facing a small issue where scroll events that are not directly on the document object are not registered by the package and hence breaks the position of the tooltip relative to the anchor.

The anchor scrolls away leaving the tooltip. Thus it doesn't recalculate its position relative to the anchor.

`window.addEventListener('scroll',

[2019-11-12 20:02] Gregjarvez commented on #64
I am closing this issue because that doesn't seem to be the case. It doesn't recalculate it's position because it is not being done :)

[2019-11-26 13:10] YonatanHanan opened #65 "Fade affect"
Is there a way I could implement a fade transition?

[2019-12-10 07:37] bsidelinger912 commented on #64
Hey @Gregjarvez I'll take a look at this soon, been a busy fall, but I'm getting back to stuff now.

[2019-12-10 07:38] bsidelinger912 commented on #63
Hey @maeligg I'll be looking at this soon as I'm working on a bunch of these issues this week.

[2019-12-10 07:42] bsidelinger912 commented on #65
Hey @YonatanHanan I can't think of an easy way now because we actually hide the tooltip off the screen.  However I may be able to add a class that shows up when it's visible and goes away when it's not and you could then apply a CSS transition on that class.  I'll try that out when I'm working through other issues this week (finally getting back to a bunch of this stuff)

[2019-12-11 07:45] bsidelinger912 commented on #65
@YonatanHanan I think this can be done now by changing the "tipContentClassName" prop when the new "onToggle" prop fires.  You can conditionally add a class with a css transition.

[2019-12-11 07:47] bsidelinger912 commented on #64
Hey @Gregjarvez I wasn't able to repro this, can you explain more how this happens, is it with internal scroll bars?  Can you fork the demo pen with a repro?

[2019-12-11 07:48] bsidelinger912 commented on #61
@crobinson42 I think this is addressed with the new zIndex prop from the 1.11 release

[2019-12-11 07:48] #61 closed

[2019-12-11 07:49] bsidelinger912 commented on #56
Pr is merged and released.

[2019-12-11 07:49] #56 closed

[2019-12-11 07:50] bsidelinger912 commented on #52
closing as I don't see any actions to take here.

[2019-12-11 07:50] #52 closed

[2019-12-11 07:50] bsidelinger912 commented on #59
I believe this is addressed with v1.11

[2019-12-11 07:51] bsidelinger912 commented on #51
Closing as I don't have enough info, feel free to open another with detailed repro steps.

[2019-12-11 07:51] #51 closed

[2019-12-11 07:54] bsidelinger912 commented on #38
My other fix got very complicated when I tried to implement.  I'm going to close this as there's a solution, if another use case arises that's not solved by this feel free to open another issue.

[2019-12-11 07:54] #38 closed

[2019-12-11 07:55] bsidelinger912 commented on #58
@crobinson42 I think that this is fixed by v1.11 because scrolling should dismiss existing tips and new ones shouldn't be opened when the tap was part of a scroll gesture.  Let me know if this fixes the issue you're seeing.

[2019-12-11 18:30] alex-malyita opened #71 "Required props"
Referring to the latest changes https://github.com/bsidelinger912/react-tooltip-lite/commit/c3a515614af08fcb4c12a77b39340ebe5d46d64c
`zIndex` has default value - so it should be optional.
And `onToggle` also could be optional.

[2019-12-12 05:08] bsidelinger912 commented on #71
yeah, thanks @alex-malyita. I meant to make both of those optional, they came in with PRs that didn't update the type declaration file and I added them too hastily. Fixed with v1.11.1 which I just published.

[2019-12-12 05:08] #71 closed

[2019-12-15 05:49] crobinson42 commented on #59
This is still a problem with new release 1.11. I am using iOS 13 Chrome browser.

[2019-12-15 15:49] crobinson42 commented on #58
@bsidelinger912 this is still an issue in the latest release 1.11. Steps to reproduce in my app is for a user on mobile to dragpressstart on the screen over text that is wrapped with the tooltip, scroll/drag some direction and when dragpressstop (finger release) the tooltip will appear at the x/y coordinates where the dragpressstart event was initialized.

[2019-12-17 05:17] bsidelinger912 commented on #59
Hey @crobinson42, I was able to reproduce this easily before I made the fix, at least the issue I could understand.  It's a little hard to tell exactly what issue you're seeing.  I've added a tap handler so that if you tap outside the tip it closes.  I'm pretty sure that's fixed now, and that is is original issue reported here.  It may that other issues came up that relate though.  Are you seeing

[2019-12-17 05:20] bsidelinger912 commented on #58
Interesting, I wasn't seeing the tip open if a scroll occurred between when you tapped and released.  I'll check again with your pen now that the new version is available from s3.

[2019-12-18 15:47] crobinson42 commented on #59
@bsidelinger912 I do see the tooltips disappear when you tap outside of them.

The problem that still persists is that if a scroll (mobile) is started over an element that is wrapped with the tooltip then the tooltip will appear  in that position as soon as the finger "fling" (scroll fling up or down) is released. Does that make sense?

[2019-12-18 15:48] crobinson42 commented on #59
Also, for what it's worth I only have a fixed container app wrapper that has `overflow: scroll` so I don't know if this is an issue if the body is scrolling..

[2019-12-18 16:46] SnowblindFatal opened #72 "Tooltip opens when isOpen prop changes from false to undefined"
Hi. I have a simple hover tooltip setup that breaks if I set isOpen to false (for during a certain drag action) and then undefined (after the drag is finished). That is, the tooltip opens on its own and never closes when I set isOpen to undefined. Hovering over the tooltip triggers the close event again. Some gifs should clarify this:

Current state of react-tooltip-lite:
![broken_tooltip](https:/

[2019-12-18 17:01] bsidelinger912 commented on #72
Hey @SnowblindFatal, when you pass undefined to isOpen, it falls back to the default behavior of showing the tip when you mouse over the target.  Can you show me the JSX structure of what's around the tip?  It might make sense to just use fully controlled mode where you use events to maintain state for whether the tip is open or not.  I'll look a little more closely though when I have a chance.

[2019-12-18 17:02] bsidelinger912 commented on #59
Aaaah, thanks @crobinson42 I know what's happening now.  I'll start working on this.

[2019-12-18 17:03] bsidelinger912 commented on #58
I think this will end up being the same fix as the remaining issue on https://github.com/bsidelinger912/react-tooltip-lite/issues/59

[2019-12-19 06:56] SnowblindFatal commented on #72
The thing is, through some logic, the tooltip lib calls the showTip() function when I start dragging (and set isOpen to false) and when I stop dragging and set isOpen to undefined, it thinks that the tooltip should be shown. The thing is, it is in a faulty state as the tooltip never goes away unless I hover over the tooltip or the original element, as this presumably restarts the delay timers. My

[2019-12-27 17:16] pkodzis opened #74 "padding props"
hi, currently padding prop is fixed to number by prototype. So if I use string like e.g.: '0 22px 0 0' it gives:

"index.js:1437 Warning: Failed prop type: Invalid prop `padding` of type `number` supplied to `Tooltip`, expected `string`."

Tooltip with valid CSS string for padding props (like e.g. '0 22px 0 0') works fine. The only issue is the warning mentioned above. Would it be possible to chan

[2020-01-03 20:24] bsidelinger912 commented on #34
Also make tips discoverable when tabbing through content.

[2020-01-03 21:44] bsidelinger912 commented on #74
Hi @pkodzis the string you posted does not create a prop types warning for me, which makes sense since the propType is set as string, but passing just a number does.  Support for numbers on the padding prop is added with: v1.11.2.

[2020-01-03 21:44] #74 closed

[2020-01-03 21:47] bsidelinger912 commented on #58
@crobinson42, I believe this is now addressed with v1.11.2.  The fixes I proved on 1.11.0 for ignoring taps when scrolling didn't work for internal scrollbars such as within fixed position divs, 1.11.2 finds the nearest scrollable ancestor and listens for scrolls on that to either ignore taps, or recalculate tip position.  Please let me know when you have a chance to check it out.

[2020-01-03 21:48] bsidelinger912 commented on #59
@crobinson42 I believe this is now fixed for both the OP's scenario and your scenario for internal scrollbars, in v1.11.2 please let me know when you have a chance to check it out.

[2020-01-03 21:50] bsidelinger912 commented on #64
Hi @Gregjarvez I belive this may be similar to the issue with: https://github.com/bsidelinger912/react-tooltip-lite/issues/58.  Where we didn't listen for scrolls on internal scrollbars.  That's been fixed with v1.11.2, please let me know if this addresses your issue.

[2020-01-03 21:50] bsidelinger912 commented on #63
@maeligg this should be fixed now in v1.11.2

[2020-01-03 21:50] #63 closed

[2020-01-05 17:30] crobinson42 commented on #58
This is fixed @bsidelinger912

[2020-01-05 17:30] #58 closed

[2020-01-05 17:31] crobinson42 commented on #59
The issue that still exists is when the tooltip repositions and the child element has been scrolled out of screen the tooltip will stick to the top/bottom of the screen. This happens on large lists

[2020-01-23 12:41] SnowblindFatal commented on #72
Hi. I would like to know if you're going to integrate the fix mentioned above.

I understand if you feel inclined to disregard it, but soon I will actually need it and I need to know if I'll continue using this lib with all its updates or just a custom fork.

Thank you!

[2020-02-12 15:52] bekju opened #77 "On mobile onToggle triggers as many times as there are tooltip-wrappers"
[code]
I have 80 Tooltip elements on a page and on desktop it works fine, `onToggle` triggers only when hovering over and leaving the hover, but on mobile anywhere I touch on a document it triggers `onToggle` 80 times, which causes re-render and browser lag. From looking at the code I see that `bodyTouchStart(e)` triggers hideTip everytime I touch the body.
Even if `loadInfo()` is a function that

[2020-02-25 16:53] renekliment opened #78 "Mobile scrolling toggles the tooltip when initiated from the tooltip target/toggler"
When I touch the tooltip target and scroll, I expect the tooltip not to toggle, because people usually touch any place on the screen to scroll and expect nothing else.

This is a quick workaround that we currently use that we put between the target and the tooltip component itself:

[code]

[2020-03-10 19:03] AB1519 opened #79 "Set max-width on Tooltip"
Hi I am trying to overwrite the max-width on the tooltip.
I have tried implementing the styles props but it is not working. can anyone please help me

<Tooltip
styles={{maxWidth: 100}}
/>

styles property is not working.

[2020-04-02 12:49] osdiab opened #81 "Option to render arrow manually (or finer grained arrow styling)"
The current implementation as the README states relies on border tricks to draw a solid arrow, though a design of my company’s puts a border on the arrow itself, which makes this approach problematic - I’m happy to render the arrow myself as an SVG but the library as is doesn’t have a way to define tip rendering manually - would be nice if that’s an option assuming the library doesn’t want to hous

[2020-04-02 12:51] osdiab commented on #81
In the meantime I plan to work around it by rendering the arrow myself with absolute positioning in the body of the tooltip

[2020-04-03 08:22] osdiab commented on #81
hmmm the above workaround strategy only works if tooltip position is forced, which makes me want to have some way to retrieve how the tooltip is being positioned. toying around more

[2020-05-04 07:55] Filipeue opened #84 "Multiple tooltips on single page on mobile are not working"
When more than 1 tooltip is placed on single page and viewed ON MOBILE (you cannot reproduce this bug in chrome mobile emulator - you need real device) only first you interact with is working properly. Then when other tooltips are clicked, they are not opened.
Is some special key / id required for it to work properly?

[2020-05-07 15:31] GBora opened #85 "Tooltip position is not calculated correctly in modal and tooltip is cut off"
When I use react-tooltip-lite in a modal somehow the left is no calculated correctly and the tooltip is rendered with part of it cutoff.

This only happens when I use it in desktop in a modal, if the page has a similar size due to being on mobile the tooltip is rendered perfectly.

Not sure I think it takes into account the size of the entire screen so when it thinks it has a large desktop screen

[2020-05-07 15:49] Filipeue commented on #85
Hi, don't you have the same issue on mobile as I described here https://github.com/bsidelinger912/react-tooltip-lite/issues/84 ? If not can you share som code about usage this lib maybe and I am using it wrong and some keys are required...

[2020-05-07 16:51] GBora commented on #85
No sorry, it's not your issue.

I can't post code the context is more complicated.

You can replicate the issue by for example using it in a parent div then shrinking the div the tooltip will overhang.

When used on mobile, when the parent isn't less wide than the screen the tooltips works as intented.

[2020-05-13 04:47] bsidelinger912 commented on #85
Hey @GBora, yeah it's not considering the modal to be a boundary, just the edge of the screen.  Can you send a screenshot of what it looks like?  The idea of specifying some boundary div to constrain itself within has been floated before, but I wasn't wanting to take on the complexity of that for this simple component.  I can think about it a little more and a visual of what your seeing helps.

[2020-05-13 04:49] bsidelinger912 commented on #84
Hey @Filipeue, I'll try and take a look at this, have you tested with both ios and android? which browsers?

[2020-05-13 04:52] bsidelinger912 commented on #77
Hey @bekju I think I see what's going on here. Sorry for the lag in getting to this, I'm looking at it now.

[2020-05-13 05:07] bsidelinger912 commented on #78
Hey @renekliment sorry for the lag on this, I'm looking into it now.

[2020-05-13 05:22] bsidelinger912 commented on #79
Hi @AB1519 the styles prop is to enable overrides for the wrapper element we put around your "target", since we insert an element in the dom to grab events from we allow some props such as styles to be passed through.  For what you want, you can just style the tips content yourself, since you can pass JSX to the content prop.  Just wrap your content in a <div> or whatever and add a class or a styl

[2020-05-13 05:24] bsidelinger912 commented on #72
Hey @SnowblindFatal, Can you write a test that captures the issue here, I cannot seem to reproduce it.

[2020-05-13 06:02] bsidelinger912 commented on #81
Hey @osdiab I've published a version with your change merged, it's v1.12.0

[2020-05-14 04:59] bsidelinger912 commented on #65
Closing for now since this seems to be resolved.

[2020-05-14 04:59] #65 closed

[2020-05-14 14:29] Vempejul opened #87 "Append tooltip to trigger element in the dom instead of last in body."
Is there a way to append the tooltip to the trigger element in the DOM instead of last in the body.

I am currently having an issue with accessibility due to the tooltip being added last in the DOM instead of relative to the element that triggers the tooltip.

The problem is that inside my tooltip there is a focusable element (an anchor tag in this case) and with an accessibility perspective I don

[2020-05-14 14:35] osdiab commented on #81
Great, thanks!

[2020-05-20 18:17] naasimshareef commented on #87
I have a similar issue as well. Mine is a micro frontend, to be integrated to a container in another app. With the tooltip being appended to body, when this component is integrated within another app, my position values get messed up since the calculations need to happen with respect to its container, not the body. So is there anyway to append to a specific element instead of body?

[2020-05-22 12:22] Filipeue commented on #84
I have tested it on OnePlus 7T Pro, Adnroid 10, Chrome 81.0.4044.138. Unfortunately the issue seems not to be present when using tool like Browserstack (https://www.browserstack.com/), no matter the browser or device I choose. So I tested it on my other device Android 5.0.1, same chrome version and the issue persited. Then iphone 10s Safari: issue NOT present.
So it seems to be android + chrome is

[2020-05-25 17:07] bsidelinger912 commented on #87
Hey @Vempejul and @naasimshareef, these are kind of two different issues, where you both have a similar solution in mind.  However, adding the tooltip next to the target presents a host of other positioning issues, and thus I've followed a fairly standard portal technique.  However these issues your running into for your specific use cases should be resolvable for sure.

For the issue @Vempejul is

[2020-05-25 17:15] bsidelinger912 commented on #40
Hello everyone I believe this is solved by a recent contribution that adds the "arrowContent" prop.  This way you can render the arrow with an SVG and style that as you would like, you can see an example here: https://codepen.io/bsidelinger912/pen/WOdPNK under the "colors" heading by hovering over the text that says: "even more control".

[2020-05-25 17:17] bsidelinger912 commented on #84
Okay thanks @Filipeue, and by "interact" I assume you mean tapping the target?

[2020-05-25 17:17] bsidelinger912 commented on #81
Closing as this is released now.

[2020-05-25 17:17] #81 closed

[2020-05-25 18:55] Filipeue commented on #84
yeah I meant tapping the target, but I have tested it on few more android devices with newest chrome and I cannot simulate the issue, so I am starting to think It has something to do with my chrome profile or something... really weird...
on 2 of my own devices I see the issue and everywhere else it is working just fine... after this finding the issue is not as important as it seemed, so if you cho

[2020-06-02 07:17] Vempejul commented on #87
Hello!

I get it, traversing the DOM would have created other issues I am sure.

So instead I solved this in another way, which unfortunately means that for screen readers it will be a bit awkward still, since the screen reader won't read the links in the tooltip in the correct order.

But we decided to accept that and just fix the possibility to tab to the tabbable elements inside of the tooltip

[2020-06-07 10:32] lastnigtic commented on #38
same problem here:
![image](https://user-images.githubusercontent.com/17680884/83966490-0e5e5480-a8ed-11ea-9c75-d476d748da62.png)
How I can rewrite '.react-tooltip-lite' width to 'max-content' without using 'important'?
![image](https://user-images.githubusercontent.com/17680884/83966555-6e54fb00-a8ed-11ea-940e-7dc69f75740f.png)

Great work btw.

[2020-06-10 06:15] sachdeva-shrey opened #90 "Allow Multiple Tooltip Events"
I have a use-case where I want to display different content on the same tooltip on different events, on `onHover` and `onClick` to be precise.

Is this feature currently supported? If not, it would be really nice to have this.

[2020-06-11 15:18] bsidelinger912 commented on #90
Hey @sachdeva-shrey, it might be possible to do this with fully controlled tooltips, this is where you manage state via events and just pass an isOpen flag to a tooltip.  In you're case you'd need to dynamically provide the content as well as the isOpen flag.

[2020-06-11 15:24] bsidelinger912 commented on #87
Hey @Vempejul I agree this is not ideal.  I'm working on a major version that will be focused around better a11y, this issue will definitely be something I try to address with that effort.

[2020-06-11 15:25] bsidelinger912 commented on #79
Closing as I believe the solution is provided in my answer.

[2020-06-11 15:25] #79 closed

[2020-06-11 15:28] sachdeva-shrey commented on #90
Hey @bsidelinger912! Thank for your reply. That makes sense.

[2020-06-11 15:31] bsidelinger912 commented on #38
@fmaiabatista did you need to use !important for your solution?

[2020-06-11 18:17] fmaiabatista commented on #38
Hi @bsidelinger912, it's been a while since I posted this and I can't remember the details exactly. But based on my last comment on this thread I managed to set the width to "max-content" without using !important. Seems I only used it on "top" and "left" properties.

[2020-07-08 05:49] dbyambajargal commented on #87
[code]
i used this code. and body scrolling fixed.

[2020-08-17 08:55] net-bet opened #93 "Animated tooltip"
HI,
Is it possible to add animation to the tooltip open and/or close like fade or scale?
I didn't see support in the lib api.

[2020-10-19 14:10] Vempejul commented on #87
Hello! Any update on this issue? I'd be happy to lend my thoughts if you need them. :)

[2021-01-13 07:57] asoutheastasiandessert opened #98 "Mobile view for <a href=""> isn't opening up."

[2021-01-13 07:57] asoutheastasiandessert opened #99 "mobile view for <a href=""></a> isn't opening up"

[2021-02-18 08:57] Oleksii-Ziuzko opened #100 "Tooltip and arrow have different zindex values"
So apparently when you pass a zIndex prop into Tooltip component, tooltip arrow will have the same zIndex value but +1.

Is it bug or feature?

[2021-02-19 08:19] buesing opened #101 "Support React 17"
Getting an error when trying to install:
[code]

[2021-06-17 13:57] 2knu opened #112 "Tooltip size dont changes when content updated dynamically after mount"
Steps to reproduce:
* Use an input as tooltip-target
* Tooltip parameters:
  * eventOn "onChange"
  * eventOff "onBlur"
  * useHover false
  * content <variable from component state, that contains the changed text>
 * Do an on-change multiple times
 * The tooltip text is changing, but the size is to small is at some point

 Expected:
* The size of tooltip is changing to fit the content dynamically

[2021-07-02 07:17] masone commented on #101
Here's a PR for this. Anyone minds sharing their thoughts on it? @buesing @montogeek @kkkrist
https://github.com/bsidelinger912/react-tooltip-lite/pull/113

[2021-07-19 17:14] atakansavas commented on #112
Hi.
I have same problem. Did you handle this? If so, can you explain how?
Thank you.

[2021-09-09 08:08] barroudjo commented on #34
Hello, is this still in the plans ? Or is maintenance stopped for this library ?

[2021-10-22 05:12] desduvauchelle commented on #101
Any updates on this?

[2021-11-18 21:45] oosharma commented on #77
I am facing the exact same issue. @bsidelinger912 , were you able to find any solution for this?

[2021-11-22 07:08] svkaushik17 opened #119 "Tooltip is not rendering the HTML Content when passed as variable or HTML String."
Tooltip is not rendering the HTML Content when passed as variable or HTML String.

I've the parsing the HTML String to DOM element using below code. But even then I Tooltip is not rendering as expected.
`const parser = new DOMParser();
const doc = parser.parseFromString( `<span>${ htmlString }</span>`, 'text/html' );`

CodePen Link: https://codepen.io/svkaushik17/pen/VwzNGzp?editors=1111

[2022-03-14 09:25] lastnigtic opened #126 "The position isn't right when `body` has scrollTop while the value of `overflow` isn't `auto` or `scroll`"
https://github.com/bsidelinger912/react-tooltip-lite/blob/dfd3dfff9ed9f8167178ef74ddd9b271926a32ab/src/functions.js#L13.

[2022-03-14 09:41] lastnigtic commented on #126
Is this repository still under maintenance？@bsidelinger912

[2022-04-10 00:19] hallee9000 opened #128 "Typescript error: 'Tooltip' cannot be used as a JSX component."
I got this error:

[code]

My dependencies:
[code]

tsconfig.json
[code]

Any solutions?

[2022-04-25 11:23] magnattic commented on #128
This usually happens when you have multiple incompatible versions of `@types/react` or `@types/react-dom` installed.
You could use yarn resolutions or npm overrides to force a certain version across all your deps.

[2022-04-26 12:59] hallee9000 commented on #128
Thanks @magnattic . Add this in `package.json` solved it.
<img width="233" alt="image" src="https://user-images.githubusercontent.com/12868055/165305369-a53ce77b-796a-4d82-ae70-6425e14a26b7.png">

[2022-04-26 12:59] #128 closed, assigned to nobody

[2022-05-02 09:51] magnattic opened #130 "Typescript error on React 18 (Property 'children' does not exist on type)"
Typescript complains once you update to React 18, because [`children` now have to be listed explicitely on component props.](https://reactjs.org/blog/2022/03/08/react-18-upgrade-guide.html#updates-to-typescript-definitions)

The error is this:
[code]

My code:
[code]

[2022-06-28 13:23] yisheng90 commented on #130
I am facing the same issues. It seems like the library is not ready to support react v18 yet.

One of teh workaround I did is create a type declaration file `index.d.ts` with the following code to overwrite the type.

[code]

[2022-07-04 10:03] shailander opened #132 "Tooltip not rendering on fullscreen mode"
I am trying to add this tooltip to a custom video player buttons, but the issue is the tooltip is not displaying when fullscreen is enabled on the player (parent container). Also tried `z-index` nut it is also not working

[2022-07-04 10:30] #132 closed, assigned to nobody

[2022-08-01 08:09] imamabdulazis commented on #130
Thanks for your workaround, I have a similar problem with another library, this should be a good solution for now. Since the library is not supported react v18 yet.

[2022-09-08 16:05] VladBrok commented on #130
\

this workaround produces an erorr :(
Type error: Type 'TooltipProps' recursively references itself as a base type.

[2022-09-08 16:06] VladBrok commented on #130
this workaround produces an erorr :(
Type error: Type 'TooltipProps' recursively references itself as a base type.

[2022-09-08 16:16] VladBrok commented on #130
Ok I

I found out that in new typescript versions you just need to export a TooltipProps without extending it like so:
`
import { ReactNode } from 'react';

declare module 'react-tooltip-lite' {
  export interface TooltipProps {
    children: ReactNode;
  }
}`

[2022-09-08 16:17] VladBrok commented on #130
I found out that in new typescript versions you just need to export a TooltipProps without extending it like so:
[code]

[2022-09-08 16:18] VladBrok commented on #130
I found out that in new typescript versions you just need to export a TooltipProps without extending it like so:
[code]

[2022-09-08 16:20] VladBrok commented on #130
I found out that in new typescript versions you just need to export a TooltipProps without extending it like so:
[code]

[2022-09-08 16:20] VladBrok commented on #130
I found out that in new typescript versions you just need to export a TooltipProps without extending it like so:
[code]